<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person Info View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Personデータ表示:</p>
<table>
    <tr th:each="r : ${results}">
    	<td><span th:text="${r.id}"></span></td>
    	<td><span th:text="${r.name}"></span></td>
     	<td><span th:text="${r.tel}"></span></td>
     	<td><span th:text="${r.mail}"></span></td>
    	<td><span th:text="${r.description}"></span></td>   
    </tr>
</table>
<hr />
 
<p>Personデータ追加:</p>
 
<form method="POST" action="/post">
  名前: <input type="text" name="name" /><br />
  電話: <input type="text" name="tel" /><br />
  mail: <input type="text" name="mail" /><br />
  備考: <input type="text" name="description" /><br />
  <input type="submit" value="登録" />
</form>
 
</body>
</html>